<launch>
	<!-- Load Filter parameters -->
	<rosparam file="$(find ardrone_lib)/parameters/global_controller_params.yaml" command="load" />
	<node name="estimator" pkg="ardrone_sensor_fusion" type="sensor_fusion.py" respawn="false" output="screen" />
	<node name="controller" pkg="ardrone_control" type="controller.py" respawn="false" output="screen" />
	<include file="$(find ardrone_autonomy)/launch/ardrone.launch" />
</launch>
